
<section class="container mt-5">
    <h2>Lista de Productos</h2>
    <table class=>
      <thead class=>
        <tr>
          <th>Nombre del Producto</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th>Categoría</th>
          <th>Imagen</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Producto 1</td>
          <td>Descripción del producto 1</td>
          <td>100</td>
          <td>Electronica</td>
          <td>Vacio</td>
        </tr>
        <tr>
          <td>Producto 2</td>
          <td>Descripción del producto 2</td>
          <td>200</td>
          <td>Hogar</td>
          <td>Vacio</td>
        </tr>
        <tr>
          <td>Producto 3</td>
          <td>Descripción del producto 3</td>
          <td>150</td>
          <td>Ropa</td>
          <td>Vacio</td>
        </tr>
        <tr>
            <td>Producto 4</td>
            <td>Descripción del producto 4</td>
            <td>1000</td>
            <td>Juguetes</td>
            <td>Vacio</td>
          </tr>
      </tbody>
    </table>
  </section>
  
